<h1>New Book</h1>

<%= render 'form', book: @book, title: @title, author_first_name: @author_first_name, author_last_name: @author_last_name, pub_year: @pub_year, edition: @edition, blurb: @blurb, physical_description: @physical_description%>
