// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hero-image {
    display: flex;
    background-image: url(hero-image.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;

}

// #background-box{
//     background-color: #5e3c31;
//     opacity: 90%;
//     margin: 10px;
//     width: 100%;
//     height: 100vh;
// }

h1 {
    color: antiquewhite;
}

.card mb-4{
    background-color: beige;

}