// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hero-image {
    display: flex;
    background-image: url(hero-image.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;

}


h1 {
    color: antiquewhite;
}

.card mb-4{
    background-color: beige;

}

.show-text{
    display: flex;
    flex-direction: column;
    
}